/* Styles for WebRTC provider */
.uiIconSocWebrtc:before {
	content: url("/webrtc/skin/icons/webrtcicon_14px.png") !important;
}

.uiIconWebrtcCall {
	vertical-align: text-bottom;
}

.uiIconWebrtcCall:before {
	content: url("/webrtc/skin/icons/webrtcicon_14px.png") !important;
	position: relative;
	margin-right: 3px;
}

.uiIncomingCall .messageAuthor {
	display: inline-block;
	margin: 5px;
}

.uiIncomingCall .messageBody {
	display: inline-block;
}

.uiIncomingCall .messageText {
	position: relative;
	top: -5px;
	display: inline-block;
	margin: 5px;
}

.uiIncomingCall .messageAuthor a>img {
	max-height: 64px;
	max-width: 64px;
	height: 64px;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
}

/* Settings form BEGIN */
#webrtcSettingsPopup .uiPopup {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: auto;
	width: 600px;
}
#webrtcSettingsPopup .popupContent {
	max-height: 400px;
	overflow: auto;
}

#webrtcSettingsPopup .title {
	font-weight: bold;
}

#webrtcSettingsPopup .title .tooltip-inner {
	max-width: 300px;
}

.iceServers {
	padding: 0 30px; 
}

.iceServer {
	display: flex;
	margin-bottom: 20px;
}

.iceServer .urlsGroup {
	margin-bottom: 5px;
	flex: 1;
}

.iceServer .urlGroup {
    display: flex;
}

.iceServer .urlGroup .actions-container {
    flex: 0 0 60px;
    padding-top: 7px;
}
.iceServer .urlGroup .actions-container > * {
    margin-left: 10px;
}
.iceServer .urlGroup .actions-container > .uiIconTrash {
    font-size: 21px;
}
.iceServer .urlGroup > input {
    flex-grow: 1;
}
.iceServer .control-label {
	flex-shrink: 0;
	margin-right: 20px;
	padding-top: 9px;
}

.iceServer .enabler .uiCheckbox {
	margin-left: 0px;
}
.iceServer .enabler .uiCheckbox > span {
    vertical-align: text-top;
}

.iceServer .credentials {
	margin-top: 5px;
	display: table;
    width: calc(100% - 60px);
}
.iceServer .credentials .control-group {
	display: table-row;
}
.iceServer .credentials .control-group > * {
	display: table-cell;
}
.iceServer .credentials label {
	padding-right: 10px;
	width: 1px;
	vertical-align: top;
}
.iceServer .credentials input {
	width: 100%;
}

#webrtcSettingsPopup .uiAction {
	text-align: right;
}
/* Settings form END */