/* Styles for WebRTC provider */
.uiIconSocWebrtc:before {
    content: url("/webrtc/skin/icons/webrtcicon_14px.png") !important;
}

.uiIconWebrtcCall {
	vertical-align: text-bottom;
}

.uiIconWebrtcCall:before {
    content: url("/webrtc/skin/icons/webrtcicon_14px.png") !important;
    position: relative;
	margin-right: 3px;
}

.uiIncomingCall .messageAuthor {
	display: inline-block;
	margin: 5px;
}

.uiIncomingCall .messageBody {
	display: inline-block;
}

.uiIncomingCall .messageText {
	position: relative;
    top: -5px;
    display: inline-block;
    margin: 5px;
}

.uiIncomingCall .messageAuthor a>img {
	max-height: 64px;
    max-width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
}

/* Settings form BEGIN */

.uiPopup, .modal.uiPopup {
	max-width: 100%
}

.maskPopup {
	background: #0000005c;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: auto;
	height: auto;
}

.NormalStyle.popupContainer {
	position: relative;
	background: #FFF;
	top: 18%;
	max-width: 95%;
	margin: auto;
	width: 560px;
	max-height: 70%;
	overflow: auto;
}

#webrtcSettingsPopup .title {
	font-weight: bold;
	text-align: left;
}

.control-group > * { /* TODO use exact classes: .credentialsGroup>div:not(.settingGroup) */
	display: inline-block;
	vertical-align: text-top;
}

.iceServer * { /* TODO use exact classes: div:not(.settingGroup) */
	text-align: left;
}

.credentialsGroup {
	display: block
}

/* Settings form END */
