/* Styles for WebRTC provider */
/*.uiIconSocWebrtc:before {
	content: url("/webrtc/skin/icons/webrtcicon_14px.png") !important;
}*/
.uiIconWebrtcCall {
	vertical-align: text-bottom;
}

.uiIconWebrtcCall:before {
	content: url("/webrtc/skin/icons/webrtcicon_14px.png") !important;
	position: relative;
	margin-right: 3px;
}

/* Incoming call popover BEGIN */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?76wm58');
  src:  url('fonts/icomoon.eot?76wm58#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?76wm58') format('truetype'),
    url('fonts/icomoon.woff?76wm58') format('woff'),
    url('fonts/icomoon.svg?76wm58#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-phone-hang-uphamburger { /*[class^="icon-"], [class*=" icon-"]*/
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-hang-uphamburger:before {
  content: "\e943";
}
.incomingCall {
	position: fixed;
	bottom: 5px;
	z-index: 10;
	right: 5px;
	width: 276px;
	padding: 15px;
	background: #999999;
	border-radius: 5px;
	color: #FFF;
}

.incomingCall .uiIconClose {
	color: #FFF;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.incomingCall .callMessage {
	font-weight: bold;
	font-size: 14px;
}

.incomingCall .callMessage .avatar {
	width: 50px;
	overflow: hidden;
	border-radius: 5px;
	display: inline-table;
	vertical-align: middle;
	margin-right: 10px;
}

.incomingCall .callMessage p {
	display: inline-table;
	vertical-align: middle;
	margin-bottom: 0;
}

.incomingCall .callActions {
	margin-top: 20px;
	text-align: center;
}

.incomingCall .callActions>.btn {
	margin: 5px;
}

.incomingCall .callActions>.btn>i {
}
/**/
/*.incomingCall .messageAuthor {
	display: inline-block;
	margin: 5px;
}*/

/*.incomingCall .messageBody {
	display: inline-block;
}*/

/*.incomingCall .messageText {
	position: relative;
	top: -5px;
	display: inline-block;
	margin: 5px;
}

.incomingCall .author a>img {
	max-height: 64px;
	max-width: 64px;
	height: 64px;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
}*/
/* Incoming call popover END */

/* Settings form BEGIN */
#webrtcSettingsPopup .uiPopup {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	width: 600px;
}

#webrtcSettingsPopup .popupContent {
	max-height: 400px;
	overflow: auto;
}

#webrtcSettingsPopup .title {
	font-weight: bold;
}

#webrtcSettingsPopup .title .tooltip-inner {
	max-width: 300px;
}

.iceServers {
	padding: 0 30px;
}

.iceServer {
	display: flex;
	margin-bottom: 20px;
}

.iceServer .urlsGroup {
	margin-bottom: 5px;
	flex: 1;
}

.iceServer .urlGroup {
	display: flex;
}

.iceServer .urlGroup .actions-container {
	flex: 0 0 60px;
	padding-top: 7px;
}

.iceServer .urlGroup .actions-container>* {
	margin-left: 10px;
}

.iceServer .urlGroup .actions-container>.uiIconTrash {
	font-size: 21px;
}

.iceServer .urlGroup>input {
	flex-grow: 1;
}

.iceServer .control-label {
	flex-shrink: 0;
	margin-right: 20px;
	padding-top: 9px;
}

.iceServer .enabler .uiCheckbox {
	margin-left: 0px;
}

.iceServer .enabler .uiCheckbox>span {
	vertical-align: text-top;
}

.iceServer .credentials {
	margin-top: 5px;
	display: table;
	width: calc(100% - 60px);
}

.iceServer .credentials .control-group {
	display: table-row;
}

.iceServer .credentials .control-group>* {
	display: table-cell;
}

.iceServer .credentials label {
	padding-right: 10px;
	width: 1px;
	vertical-align: top;
}

.iceServer .credentials input {
	width: 100%;
}

#webrtcSettingsPopup .uiAction {
	text-align: right;
}

#webrtcSettingsPopup .serverRemovalDialog {
	width: 500px;
	display: none;
}
#webrtcSettingsPopup .serverRemovalDialog .uiAction {
	margin: 30px 0 0;
}
/* Settings form END */