@import "/webconferencing/skin/webconferencing.css";
/* 
 * Web Conferencing style for Enterprise skin (for Platform 5.0) 
 */
 
.callButtonContainer {
	font-size: 15px;
}

@media (min-width: 481px) {
	.popoverCall {
		/*text-align: initial !important;*/
	}
}

@media (max-width: 480px) {
	.popoverCall {
		text-align: center !important;
	}
}

.transparentButton, .transparentButton ~ .dropdown-toggle {
	background: transparent !important;
	border: solid 1px transparent !important;
	box-shadow: none !important;
}

.callButton.chatCall, .callButton.chatCall ~ .dropdown-toggle { /* !important should be removed after removing skype css from Enterprise skin  */
	padding-top: 4px !important; 
	padding-bottom: 4px !important;
  background: none;
  border: 1px solid #fff !important;
  color: #fff;
  border-radius: 0;
}

.callButton.chatCall { /* !important should be removed after removing skype css from Enterprise skin  */
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.callButton.chatCall [class*="Icon"], 
.callButton.chatCall ~ .dropdown-toggle .uiIconArrowDown:before, 
.callButton.miniChatCall ~ .dropdown-toggle .uiIconArrowDown:before,
.callButton.chatCall:active, 
.callButton.chatCall:focus {
	color: #fff
}