@import "/webconferencing/skin/webconferencing.css";
/* 
 * Web Conferencing style for Enterprise skin (for Platform 5.0) 
 */
 
.callButtonContainer {
	font-size: 15px;
}

@media (min-width: 481px) {
	.popoverCall {
		/*text-align: initial !important;*/
	}
}

@media (max-width: 480px) {
	.popoverCall {
		text-align: center !important;
	}
}

.transparentButton, .transparentButton + .dropdown-toggle {
	background: transparent !important;
	border: solid 1px transparent !important;
	box-shadow: none !important;
}

.callButton.spaceCall .callTitle {
	margin-left: 2px;
}

/* Call button is more narrow in spaces */
.callButton.spaceCall, .spaceCall + .dropdown-toggle, .spaceCall ~ .dropdown-menu {
	font-size: 12px;
	line-height: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.btn.spaceCall {
	margin-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.btn.spaceCall.preferred {
	padding-left: 2px;
	padding-right: 2px;
}

.btn.spaceCall.preferred + .dropdown-toggle {
	padding-left: 2px;
	padding-right: 2px;
}

.spaceCall > [class^="uiIcon"], 
.spaceCall > .callButtonIconVideo, 
.spaceCall > .callTitle,
.spaceCall ~ .dropdown-toggle > .uiIconMiniArrowDown:before {
	color: #ffffff !important;
}

.spaceCall:hover > [class^="uiIcon"], 
.spaceCall:hover > .callButtonIconVideo, 
.spaceCall:hover > .callTitle,
.spaceCall:hover ~ .dropdown-toggle > .uiIconMiniArrowDown:before {
	color: #ffffff !important;
}

.callButton.chatCall, .callButton.chatCall + .dropdown-toggle { /* !important should be removed after removing skype css from Enterprise skin  */
	padding-top: 4px !important; 
	padding-bottom: 4px !important;
  background: none;
  border: 1px solid #fff !important;
  color: #fff;
  border-radius: 0;
}

.callButton.chatCall { /* !important should be removed after removing skype css from Enterprise skin  */
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.callButton.chatCall [class*="Icon"], 
.callButton.chatCall + .dropdown-toggle .uiIconMiniArrowDown:before, 
.callButton.miniChatCall + .dropdown-toggle .uiIconMiniArrowDown:before,
.callButton.chatCall:active, 
.callButton.chatCall:focus {
	color: #fff
}

#UIBreadCrumbsNavigationPortlet .callButtonContainer {
	/*padding-top: 3px;*/
}

.callButtonIconVideo {
	top: 3px;
}