@import "/webconferencing/skin/webconferencing.css";
/* 
 * Web Conferencing style for Enterprise skin (for Platform 5.0) 
 */
 
.callButtonContainer {
	font-size: 15px;
}
 
.callButton.chatCall {
	padding: 4px 16px;
}

@media (min-width: 481px) {
	.popoverCall {
		/*text-align: initial !important;*/
	}
}

@media (max-width: 480px) {
	.popoverCall {
		text-align: center !important;
	}
}

.transparentButton, .transparentButton + .dropdown-toggle {
	background: transparent !important;
	border: solid 2px transparent !important;
	box-shadow: none !important;
}

.transparentButton .callButtonTitle {
	color: #ffffff;
}

/* Call button is more narrow in spaces */
.callButton.spaceCall {
	padding: 1px 5px !important;
	font-size: 12px;
	line-height: 24px;
}

.spaceCall > i, .spaceCall > .callButtonTitle {
	color: #ffffff;
}

.spaceCall:hover > i, .spaceCall:hover  > .callButtonTitle {
	color: inherit;
}

#UIBreadCrumbsNavigationPortlet .callButtonContainer {
	padding-top: 3px;
}